@base-color: var(--base-color, rgba(0, 0, 0, 0.87));
@base-bg: var(--base-bg, #213547);
@lnk-color: var(--lnk-color, #646cff);
@lnk-color-hover: var(--lnk-color-hover, #535bf2);
@btn-color-bg: var(--btn-color-bg, #f9f9f9);
@btn-color-hover: var(--btn-color-hover, #535bf2);
